@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-heading-lg {
    @apply font-inter text-3xl font-bold;
  }

  .text-body-secondary {
    @apply font-inter text-medium;
  }

  .text-heading-sm {
    @apply text-base font-bold;
  }
}
